/* VARIAVÉIS */
:root {
    --primary-color: #0A1128;
    --secondary-color: crimson;
    --white-color: #fff;
    --blue-color: #2038d4;
    --light-blue-color: rgb(0, 94, 255);
    --twoblue-color: #425bfc;
    --fundo-blue-color: rgba(0, 0, 255, 0.1);
    --light-gray-color: #eee;
    --light-gray-color2: #f4f4f4;
    --input-gray-color: #bfbfbf;
    --gap: 3rem;
}

/* CONFIG PADRÃO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
    line-height: 1.5;
}

body .full-width {
    width: 100%;
    flex: 1 1 100%;
}

/* TÍTULOS */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 5.5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 3rem;
}

.responsive-table {
    overflow: hidden;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    min-width: 36rem;
}

table caption {
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

table td, table th {
    white-space: nowrap;
    padding: 0.5rem;
    border: 0.1rem solid var(--light-gray-color);
}

table th {
    background: var(--light-gray-color);
}

tfoot td {
    background: var(--light-gray-color2);
}

/* BACKGROUND */
.main-bg {
    background-image: url('/assets/img/main-bg.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}
.white-bg {
    background: var(--white-color);
    color: var(--primary-color);
}

/* CONTEÚDO */
.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap);
}

.section {
    min-height: 100vh;
}

/* MENU */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;  
  border-bottom: 0.1rem solid var(--light-gray-color);
  z-index: 1;
}

.menu-content {
   display: flex;
   justify-content: space-between; 
   align-items: center;
   padding-top: 0;
   padding-bottom: 0;
}

.menu h1 {
    font-size: 2.3rem;
}

.menu h1 a {
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 2.2rem;
    color: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1.4rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--light-blue-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.menu-spacing {
    height: 6.5rem;
}

/* MENU LOGO */
.menu-logo {
    transition: all 300ms ease-in-out;
}

.menu-logo:hover {
    transform: scale(1.3);
}

/* INTRO */
.intro-content {
    position: relative;
    /* top: -7rem; */
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text-content, .intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-text-content h2 {
    font-size: 8rem;
}

.intro-img img {
    max-width: 100%;
    height: auto;
}

.felipe-duan {
    color: var(--blue-color);
}


/* SOBRE */
.sobre-content {
    max-width: 64rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

/* GRID ONE */
.grid-one-content {
    /* height: 100vh; */
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
}

.grid-main-heading {
    margin-bottom: 1rem;
}

.grid-description {
    padding-bottom: 5rem;
}

.grid, .work-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid h3, .work-grid h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 6rem;
    padding-bottom: 2rem;
}

.grid h3::before, .work-grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -4rem;
    left: 0;
}

/* GALLERY */
.gallery-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery-img img {
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

/* CONTACT */
.contact-form {
    grid-column: span 2;
}

.contact-form .form-grid {
    border: none;
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap);
}

.form-grid legend {
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.form-group {
    flex: 1 1 32rem;
}

.form-group label {
    display: block;
    margin-bottom: 1rem;
}

.form-group input, .form-group textarea {
    border: none;
    border-radius: 0.5rem;
    background: var(--white-color);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 2rem;
}

.form-group input:focus, .form-group textarea:focus {
    outline: 0.3rem solid var(--light-blue-color);
    box-shadow: 0 0 1.6rem 0.1rem var(--blue-color);
}

.form-group button {
    border: 0.3rem solid var(--white-color);
    border-radius: 0.8rem;
    background: none;
    color: var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 297ms ease-in-out;
}

.form-group button:hover {
    border: 0.3rem solid var(--light-blue-color);
    border-radius: 0.8rem;
    background: var(--light-blue-color);
    color: var(--white-color);
    box-shadow: 0 0 4rem 0.3rem var(--fundo-blue-color);
}

.form-group ::placeholder {
    color: var(--input-gray-color);
}

/* Footer */
.footer {
    text-align: center;
}

.footer p {
    margin: 0;
    padding: 3rem;
}

.footer a {
    color: #0A1128;
}

.heart {
    color: var(--secondary-color);
}

.close-menu {
    display: none; 
}

.back-to-top {
    z-index: 3;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--light-blue-color);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 2.5rem;
    color: var(--white-color);
    rotate: -90deg;
    border: 0.2rem solid var(--light-blue-color);
    box-shadow: 0 0 0.3rem 0.1rem var(--light-blue-color);
}

/* MEDIA QUERIES */
@media (max-width: 880px) {
    .menu {
      bottom: 0;  
    }

    .menu-content {
        height: 100vh;
    }

    .menu-content, .menu-content ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menu {
        display: none;
    }

    .close-menu-label::after {
        cursor: pointer;
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 1.5rem;
        right: 2.5rem;
        background: var(--light-blue-color);
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        border-radius: 0.5rem;
    }

    .close-menu:checked~.menu {
        display: block;
    }

    /* × */
    .close-menu:checked~.close-menu-label::after {
        font-size: 4rem;
        content: '×';
    }

    .menu-spacing {
        display: none;
    }
}

@media (max-width: 830px) {
    .intro-content, .work-grid {
        grid-template-columns: 1fr;
    }
    
    .grid {
        grid-template-columns: 1fr 1fr;
    }

    .gallery-img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    };
    
    .gallery-img img {
        width: 100%;
    };

    .grid-one-content {
        display: block;
    }
}

@media (max-width: 640px) {
    .intro-text-content~h2 {
        text-align: center;
    }

    .grid {
        grid-template-columns: 1fr;
        margin: 0 auto;
    }
}